In [219]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random

In [220]:
#导入数据集

train_data = pd.read_csv("D:\Mis\project\python\dataMine\data\data_train.csv")
test_data = pd.read_csv("D:\Mis\project\python\dataMine\data\data_test.csv")
print("The shape of train_data", train_data.shape)
print("The shape of test_data", test_data.shape)

The shape of train_data (1298, 12)
The shape of test_data (301, 12)

In [221]:
train_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000,1298.000000
mean,8.563713,0.519503,0.287565,2.562635,0.088678,15.521572,46.835901,0.996954,3.299869,0.663544,10.406471,5.661787
std,1.765711,0.177694,0.196394,1.307516,0.047607,10.378344,33.548496,0.001897,0.154522,0.174552,1.095820,0.810744
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.300000,0.390000,0.110000,1.900000,0.071000,7.000000,21.250000,0.995860,3.200000,0.560000,9.500000,5.000000
50%,8.200000,0.500000,0.280000,2.200000,0.080000,13.000000,38.000000,0.996940,3.300000,0.620000,10.100000,6.000000
75%,9.500000,0.630000,0.450000,2.600000,0.092000,21.000000,63.000000,0.998010,3.390000,0.730000,11.100000,6.000000
max,15.900000,1.330000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003200,3.900000,2.000000,14.900000,8.000000

In [222]:
train_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [223]:
train_data=np.array(train_data)
test_data=np.array(test_data)

In [224]:
def getData(dataSet):
    m, n = np.shape(dataSet)
    trainData = np.ones((m, n-1))
    trainData[:,:-1] = dataSet[:,:-2]
    trainLabel = dataSet[:,-1]
    return trainData, trainLabel

In [225]:
def normalize(X):
    m, n = X.shape
    # 归一化每一个特征
    for j in range(n):
        features = X[:,j]
        minVal = features.min(axis=0)
        maxVal = features.max(axis=0)
        diff = maxVal - minVal
        if diff != 0:
            X[:,j] = (features-minVal)/diff
        else:
            X[:,j] = 0
    return X

In [226]:
def batchGradientDescent(x, y, theta, alpha, m, maxIterations):
    
    xTrains = normalize(x).transpose()
    ylabels=(y-min(y))/(max(y)-min(y))
    for i in range(0, maxIterations):
        hypothesis = np.dot(x, theta)
        loss = hypothesis - ylabels
        gradient = np.dot(xTrains, loss) / m
        theta = theta - alpha * gradient
    return theta

In [227]:
trainFeature, trainLabel = getData(train_data)
m, n = np.shape(trainFeature)
theta = np.ones(n)
alpha = 0.05

array([0., 0., 0., ..., 0., 0., 1.])

In [228]:
theta = batchGradientDescent(trainFeature, trainLabel, theta, alpha, m, 1000)

In [248]:
theta

array([ 0.35137134,  0.13231828,  0.24698665,  0.54279238,  0.45872649,
        0.09733225,  0.1229315 , -0.30957669,  0.40460971,  0.45835376,
        1.        ])

In [247]:
ylabels=(trainLabel-min(trainLabel))/(max(trainLabel)-min(trainLabel))

In [231]:
ylabels

array([0.4, 0.4, 0.4, ..., 0.4, 0.4, 0.6])

In [232]:
def predict(x, theta):
    m, n = np.shape(x)
    xTest = np.ones((m, n))
    xTest[:, :] = x
    yPre = np.dot(xTest, theta)
    return yPre

In [233]:
y_pre=predict(trainFeature, theta)
y_pre

array([0.41199963, 0.46890561, 0.43853724, ..., 0.46946833, 0.46946833,
       0.48899141])

In [234]:
a=sum(y_pre-ylabels)**2
a

230.5179685630983

In [235]:
print(max(trainLabel))
print(min(trainLabel))

8.0
3.0

In [236]:
for i in  range(0,1298):
    if trainLabel[i]>=6:
        trainLabel[i]=1
    else:
        trainLabel[i]=0
trainLabel

array([0., 0., 0., ..., 0., 0., 1.])

In [237]:
y_pre=y_pre*5+3

In [238]:
for i in  range(0,1298):
    if y_pre[i]>=6:
        y_pre[i]=1
    else:
        y_pre[i]=0
y_pre

array([0., 0., 0., ..., 0., 0., 0.])

In [239]:
count=0
for i in  range(0,1298):
    if y_pre[i]==trainLabel[i]:
        count=count+1
count

659

In [240]:
#开始测试
testFeature, testLabel = getData(test_data)

In [241]:
y_pre=predict(normalize(testFeature), theta)
y_pre

array([0.42944236, 0.58715416, 0.54784055, 0.67813313, 0.66262138,
       0.70191596, 0.46747663, 0.54254181, 0.71808748, 0.52036844,
       0.71808748, 0.46173146, 0.54254181, 0.52792561, 0.56773607,
       0.5364434 , 0.5457304 , 0.56390764, 0.62219269, 0.71271245,
       0.56390764, 1.37850812, 0.72143681, 0.6012153 , 0.56875866,
       0.7168676 , 0.52054518, 0.52054518, 0.52054518, 0.52054518,
       0.39489548, 0.55771664, 0.55771664, 0.62639293, 0.31498608,
       0.50289738, 0.51192532, 0.53001568, 0.29003916, 0.29003916,
       0.29003916, 0.44111994, 0.44111994, 0.44111994, 0.43251231,
       0.44111994, 0.61325374, 0.46734322, 0.40898044, 0.32095474,
       0.32095474, 0.48208254, 0.65029041, 0.46290767, 0.42247017,
       0.42247017, 0.41661678, 0.38915916, 0.38350668, 0.65070527,
       0.75925356, 0.66217384, 0.60959521, 0.56611667, 0.66217384,
       0.52469015, 0.49279292, 0.4688992 , 0.41900048, 0.80176811,
       0.55633517, 0.2857118 , 1.26625703, 0.92512375, 1.26625703,
       0.62998272, 0.62174958, 0.51944221, 0.44409818, 0.64395068,
       0.39993402, 0.50628424, 0.50628424, 0.39407064, 0.56854905,
       0.56854905, 0.47931997, 0.55150575, 0.45114906, 0.45114906,
       0.68780225, 0.42268165, 0.52938762, 0.57449862, 0.31566671,
       0.50987212, 0.47571963, 0.49473497, 0.49727449, 0.54123194,
       0.53385964, 0.52446855, 0.60254291, 0.60254291, 0.64731818,
       0.65207584, 0.60914901, 0.66184715, 0.72967923, 0.66969898,
       0.79058841, 0.66969898, 0.45408986, 0.63096735, 0.72967923,
       0.76426665, 0.6684639 , 0.50999942, 0.6684639 , 0.64778978,
       0.31724997, 0.57310959, 0.31724997, 0.49522735, 0.6302008 ,
       0.61571816, 0.52250825, 0.52250825, 0.58923827, 0.52986532,
       0.50221369, 0.75795589, 0.53605493, 0.51904547, 0.47282626,
       0.49279885, 1.32832445, 1.32832445, 0.72678541, 0.6899697 ,
       0.3096035 , 0.57702717, 0.55437391, 0.60300777, 0.49722745,
       0.46738679, 0.57702717, 0.60300777, 0.49722745, 0.50404472,
       0.54506438, 0.55952489, 0.55437391, 0.66784554, 0.5859085 ,
       0.60071187, 0.74252789, 0.46898004, 0.46846877, 0.60071187,
       0.57244401, 0.60846123, 0.48150835, 0.434503  , 0.45049089,
       0.4355496 , 0.53256245, 0.53256245, 0.54098466, 0.52287904,
       0.54098466, 0.4412809 , 0.37639335, 0.54127321, 0.75882551,
       0.45685932, 1.27201804, 0.70138543, 1.27201804, 0.70138543,
       0.51799059, 0.70344009, 0.47169475, 0.70344009, 0.56983023,
       0.53123584, 0.49955249, 0.45345178, 0.49913571, 0.5340815 ,
       0.45851498, 0.50091638, 0.5426777 , 0.45851498, 0.45589602,
       0.62467618, 0.47250808, 0.54798666, 0.62467618, 0.48116831,
       0.48289939, 0.48116831, 0.39547615, 0.60743664, 0.49249431,
       0.60068725, 0.61100491, 0.48619656, 0.51519071, 0.61100491,
       0.6065513 , 0.59085983, 0.55595054, 0.49013528, 0.49186086,
       0.54356876, 0.68237028, 0.68237028, 0.67128041, 0.58373937,
       0.60831218, 0.50442387, 0.58373937, 0.40177597, 0.67128041,
       0.55100024, 0.56597337, 0.450053  , 0.45549747, 0.4584521 ,
       0.65952303, 0.5409023 , 0.50306377, 0.56591932, 0.4456841 ,
       0.61400543, 0.53368429, 0.4785565 , 0.5724514 , 0.4565078 ,
       0.55098357, 0.652488  , 0.5644735 , 0.59092029, 0.45081087,
       0.65332198, 0.64807527, 0.5229751 , 0.44288482, 0.47252769,
       0.69479967, 0.56666469, 0.42154711, 0.42328351, 0.6386108 ,
       0.45192828, 0.49195794, 0.54258254, 0.46552863, 0.49195794,
       0.94450701, 0.57891872, 0.57891872, 0.57891872, 0.44076608,
       0.44076608, 0.44076608, 0.58075394, 0.66879256, 0.44076608,
       0.46329468, 0.48458497, 0.98194231, 0.45766439, 0.59222856,
       0.62103374, 1.03291018, 0.5696455 , 0.7163874 , 0.61969545,
       0.57897852, 0.50849451, 0.56219682, 0.50849451, 0.50727457,
       0.56253279, 0.64602921, 0.72186487, 0.76055299, 0.51644494,
       0.75857616, 0.67233778, 0.61979111, 0.53690048, 0.57125832,
       0.57689923, 0.52379056, 0.60557991, 0.57125832, 0.59683517,
       0.62087289])

In [242]:
ylabels=(testLabel-min(testLabel))/(max(testLabel)-min(testLabel))
a=sum(y_pre-ylabels)**2
a

367.0913397456511

In [243]:
for i in  range(0,301):
    if testLabel[i]>=6:
        testLabel[i]=1
    else:
        testLabel[i]=0
trainLabel

array([0., 0., 0., ..., 0., 0., 1.])

In [244]:
y_pre=y_pre*5+3

In [245]:
for i in  range(0,301):
    if y_pre[i]>=6:
        y_pre[i]=1
    else:
        y_pre[i]=0
y_pre

array([0., 0., 0., 1., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0.,
       0., 1., 1., 0., 1., 1., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       0., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1., 1., 0., 1., 0., 0., 0.,
       0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 0., 1., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1.,
       1., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
       1., 1., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
       1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 1.,
       0., 1., 1., 0., 0., 1., 1., 0., 0., 0., 0., 0., 1., 1., 1., 0., 1.,
       0., 0., 0., 1., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 1., 0., 0.,
       0., 0., 0., 1., 0., 0., 0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 1.,
       0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
       1., 0., 0., 1., 1., 0., 1., 1., 0., 0., 0., 0., 0., 0., 1., 1., 1.,
       0., 1., 1., 1., 0., 0., 0., 0., 1., 0., 0., 1.])

In [246]:
count=0
for i in  range(0,301):
    if y_pre[i]==trainLabel[i]:
        count=count+1
count/301

0.5647840531561462